* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  display: grid;
  grid-auto-columns: 1fr 2fr 1fr;
  column-gap: 6px;
  height: 100%;
  background-image: url(../src/assets/images/baseballsedit.jpg);
  padding-left: 15vw;
  padding-right: 15vw;
}


.span-row-3 {
    grid-column: span 3 / auto;
    justify-self: center;
    align-self: center;
}

.ochs-logo {
  margin-top: 10px;
}