.layout {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; */
  grid-auto-columns: 1fr 1fr 1fr;
  /* grid-template-rows: auto; */
  height: 100%;
  background-color: #e9e39c;
  position: relative;
  padding-left: 15vw;
  padding-right: 15vw;
}


.span-row-3 {
    grid-column: span 3 / auto;
    justify-self: center;
    align-self: center;
}