.carousel {
    overflow: hidden;
}

.slick-prev {
    left: 5px !important;
    background: transparent !important; /*to notice it, is white*/
    z-index: 1;
}
.slick-next {
    right: 5px !important;
    background: transparent !important; /*to notice it, is white*/
}